<app-bar> </app-bar>

<section class="container">
  <div class="panel left" [style.width.px]="currentWidthLeft()">
    <nav-menu></nav-menu>
  </div>
  <div class="resizer" cdkDrag (cdkDragMoved)="onDragMoved($event, 'left')">
    <span class="drag-icon">::</span>
  </div>

  <div class="panel middle">
    <router-outlet></router-outlet>
  </div>

  <div class="resizer" cdkDrag (cdkDragMoved)="onDragMoved($event, 'right')">
    <span class="drag-icon">::</span>
  </div>
  <div class="panel right" [style.width.px]="currentWidthRight()">
    <current-player></current-player>
  </div>
</section>
