<mat-toolbar>
  <div>
    <span class="material-symbols-outlined"> android </span>
  </div>
  <div class="search-field">
    <span class="material-symbols-outlined home"> home </span>
    <mat-form-field class="input-field">
      <span class="material-symbols-outlined"> search </span>
      <input matInput placeholder="What do you want to play?" />
    </mat-form-field>
  </div>
  <div class="profile">
    <span class="material-symbols-outlined"> notifications </span>
    <span class="material-symbols-outlined"> groups </span>
    <span class="material-symbols-outlined"> account_circle </span>
  </div>
</mat-toolbar>
