<section>
  Your Library
  <title-chips
    [titleChips]="navmenuChips"
    (selectedChip)="selectedChip($event)"
  ></title-chips>
  <div class="search-bar">
    <span class="material-symbols-outlined"> search </span>
    <span>
      <span>Recents</span> &nbsp;
      <span class="material-symbols-outlined"> menu </span>
    </span>
  </div>
  <mat-action-list role="list">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li>List item 4</li>
    <li>List item 5</li>
  </mat-action-list>
</section>
