<section>
  Your Library
  <title-chips
    [titleChips]="navmenuChips"
    (selectedChip)="selectedChip($event)"
  ></title-chips>
  <div class="search-bar">
    <span class="material-symbols-outlined"> search </span>
    <span>
      <span>Recents</span> &nbsp;
      <span class="material-symbols-outlined"> menu </span>
    </span>
  </div>
  <list-container>
    <mat-list>
      <mat-list-item>
        <p matListItemLine>demo</p>
        <h4 matListItemLine>h4</h4>
      </mat-list-item>
      <!-- <mat-list-item>
        <p matListItemLine>demo</p>
        <h4 matListItemLine>h4</h4>
      </mat-list-item>
      <mat-list-item>
        <p matListItemLine>demo</p>
      </mat-list-item> -->
    </mat-list>
  </list-container>
</section>
