<section>
  <div class="first-row">
    <span>Your Library</span>
    <button>
      <span class="material-symbols-outlined"> add </span>
      <span>Create</span>
    </button>
  </div>
  <title-chips
    [titleChips]="navmenuChips"
    (selectedChip)="selectedChip($event)"
  ></title-chips>
  <div class="search-bar">
    <span class="material-symbols-outlined"> search </span>
    <span>
      <span>Recents</span> &nbsp;
      <span class="material-symbols-outlined"> menu </span>
    </span>
  </div>
  <list-container>
    <mat-list>
      @for (playlist of fetchCurrentUserPlaylists$ | async; track playlist.id) {
        <item>
          <div ngProjectAs="list-item" class="list-item">
            <img [src]="playlist.images[0].url" height="60" width="60" />
            <div class="details">
              {{ playlist.name }}
            </div>
          </div>
        </item>
        <!-- <mat-list-item> {{ playlist.name }} </mat-list-item> -->
      }
    </mat-list>
  </list-container>
</section>
